#links{
    
    position: relative;
    display: inline-block;
    height: 2vw;
    width: 30vw;
    margin-left: 40vw;
    bottom:0.6vw
    
}


#navbarButton{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85vw;
    text-decoration: none;
    color: white;
    padding-right: 2vw;
    
}


#logo{
    width: 6.85vw;
    height: 2vw;
    padding-top: 2%;
    padding-left: 15%;
    
    
    
}